<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="jquery/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="jquery/jquery-1.11.1-min.js"></script>
<script type="text/javascript" src="jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
	<script>

		$(function () {
			$("#loginBtn").click(function () {
				login();
			});

			$(window).keydown(function (event) {
				if (event.keyCode == 13) {
					login();
				}
			});

			$("#loginName").focus();
		});

		function login() {
			$.ajax({
				url:"adminLogin",
				data:{
					"loginName" : $("#loginName").val(),
					"loginPwd" : $("#loginPwd").val()
				},
				type:"post",
				dataType:"json",
				success: function (resp) {
					if (resp.success) {
						window.location.href = "workbench/index";
					} else {
						$("#msg").html(resp.msg)
					}
				}
			})
		}
	</script>
</head>
<body>
	<div style="position: absolute; top: 0px; left: 700px; width: 25%;">
		<img src="/image/IMG_3490.JPG" style="width: 100%; height: 90%; position: relative; top: 50px;">
	</div>
	
	<div style="position: absolute; top: 450px; right: 750px;width:450px;height:400px;">
		<div style="position: absolute; top: 0px; right: 60px;">
			<form action="workbench/index.html" class="form-horizontal" role="form">
				<div class="form-group form-group-lg">
					<div style="width: 350px;">
						<input class="form-control" type="text" placeholder="用户名" id="loginName">
					</div>
					<div style="width: 350px; position: relative;top: 20px;">
						<input class="form-control" type="password" placeholder="密码" id="loginPwd">
					</div>
					<div class="checkbox"  style="position: relative;top: 30px; left: 10px;">
						
							<span id="msg"></span>
						
					</div>
					<button type="button" class="btn btn-primary btn-lg btn-block"  style="width: 350px; position: relative;top: 45px;" id="loginBtn">登录</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>